<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head/_head', { page: "All Reviews"} ) %>
<body>
  <div class="outside-container">
  <header>
    <%- include('./partials/nav/_nav') %>
  </header>
  <div class="gallery-container">
    <% for (let i = 0; i < reviews.length; i++) {%>
    <% const review = reviews[i]; %>
      <article class="review-card">
        <div class="image">
          <img src="<%= review.image %>">
        </div>
        <div class="info-card"><a href="/foodie/<%= review.id %>">
          <div class="title">
            <h3> <%= review.restaurant; %> </h3>
            <h4> <%= review.location; %></h4>
            <h4><%= review.date.toLocaleDateString("en-US", {weekday: 'short', year: 'numeric', month: 'short',  day:'numeric', hour:'numeric', minute:'numeric'}); %> </h4>
          </div>
          <div class="text">
            <% for(let i = 1; i <= 5; i++) { %>
              <% if (i <= review.rating) {%>
              <span class="icon">
                <i class="fas fa-star gold"></i>
              </span>
              <% } else { %>
              <span class="icon">
                <i class="fas fa-star silver"></i>
              </span>
            <% } }%>
            <h5> <%= review.content %></h5>
          </div>
          <div class="tags">
            <% for (let i = 0; i < review.tags.length; i++) {%>
            <p><%= review.tags[i] %></p>
            <% } %>
          </div>
        </a>
      </div>
      </article>
    <% } %>
  </div>
</div>
</body>
</html>