<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head/_head', { page: "Foodie"} ) %>
<body>
  <header>
    <h1> Foodie </h1>
  </header>
  <div class="container">
    <% for (let i = 0; i < reviews.length; i++) {%>
    <% const review = reviews[i]; %>
      <article class="review">
        <div class="title">
          <h3> <%= review.restaurant; %> </h3>
          <h4> <%= review.location; %></h4>
          <h4><%= review.date; %> </h4>
        </div>
        <div class="image">
          <img src="<%= review.image %>">
        </div>
        <div class="text">
          <% for(let i = 1; i <= 5; i++) { %>
            <% if (i <= review.rating) {%>
            <span class="icon">
              <i class="fas fa-star gold"></i>
            </span>
            <% } else { %>
            <span class="icon">
              <i class="fas fa-star"></i>
            </span>
          <% } }%>
          <h5> <%= review.content %></h5>
        </div>
        <div class="tags">
          <% for (let i = 0; i < review.tags.length; i++) {%>
          <p><%= review.tags[i] %></p>
          <% } %>
        </div>
      </article>
    <% } %>
  </div>
</body>
</html>